@font-face{
    font-family:popins; 
    src: url(../fonts/Poppins.ttf); 
  }
  @font-face{
    font-family:bree; 
    src: url(../fonts/Bree.ttf); 
  }

:root{
    font-size: 20px;
    font-family: bree;
    --text-primary: white;
    --text-secondary: white;
    --bg-primary: #9290C3;
    --bg-secondary: #535C91;
    --navbar-primary: #070F2B;
    --navbar-secondary: #1B1A55;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: center;
}

header{
    background-image: linear-gradient(20deg, var(--navbar-primary), var(--navbar-secondary), var(--bg-secondary));
    position: absolute;
    top: 0;
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#h1Header{
    padding: 0;
    margin: 0;
    font-size: 4rem;
    color: var(--text-primary);
}

#pHeader{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    color: var(--text-secondary);
}

#tools{
    position: absolute;
    background-color: var(--bg-primary);
    border-radius: 10px;
    width: 85vw;
    height: auto;
    top: 40vh;
}

.toolboxlist{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.toolbox{
    list-style-type: none;
    margin: 80px 40px 0 40px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px;
    border-style: solid;
    border-color: #535C91;
    border-radius: 10px;
    background-color: aquamarine;
}

.toolboxlist :last-child{
    margin-bottom: 80px;
}

i{
    font-size: 5rem;
}